body { background: #ba8eb3; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 55px; display: flex; }
.block-auth-0 { color: #a2e9d5; font-size: 20px; margin-bottom: 5px; }
.block-router-1 { color: #209426; font-size: 15px; margin-bottom: 5px; }
.block-database-2 { color: #cebcf3; font-size: 20px; margin-bottom: 5px; }
.block-invoice-3 { color: #303cb3; font-size: 18px; margin-bottom: 5px; }
.block-cart-4 { color: #ce9847; font-size: 17px; margin-bottom: 5px; }
.block-database-5 { color: #ab85ae; font-size: 18px; margin-bottom: 5px; }
.block-database-6 { color: #8cbad; font-size: 20px; margin-bottom: 5px; }
.block-token-7 { color: #6a058b; font-size: 14px; margin-bottom: 5px; }
.block-notify-8 { color: #15c3cd; font-size: 21px; margin-bottom: 5px; }